// Citations
cite {
  font-style: italic;
  font-weight: 500;
}

span.pdf {
  color: $adobe-red;
  display: inline-block;
  font: $font--caption;
  font-weight: 700;
}

.citations {
  .citation {
    font: $font--body-1;
  }

  .citation-description {
    border-left: 2px solid $light-keyboard-grey;
    font: $font--caption;
    margin-left: 0;
    padding-left: units(2);

    p:last-of-type {
      padding-bottom: 0;
    }
  }
}
