ul.contributors {
  display: grid;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;

  li {
    display: block;
    font-weight: 400;
    line-height: 1.2;
  }

  a {
    color: $black-87;
    display: block;
    font: $font--caption;
    font-weight: 400;

    > * {
      transition: color $duration--default;
    }

    &:hover,
    &:active {
      > * {
        color: $web-blue !important;
        transition: color $duration--default;
      }
    }

    .organization {
      color: $black-54;
    }

    .name {
      color: inherit;
      display: block;
      font: $font--body-2;
      font-weight: 400;
    }
  }
}
