ul.contributors {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  li {
    font-weight: 400;
    line-height: 1.2;
  }

  a {
    font-weight: 400;
    display: block;
    font: $font--caption;
    color: $black-54;
    transition: color 0.2s;
    &:hover, &:active {
      color: $web-blue;
      transition: color 0.2s;
    }
  }
}
