// The primary pages navigation
//
.primary-nav {
  align-content: center;
  display: flex;
  width: 100%;
  z-index: 3;

  @include when-smaller-than(medium) {
    display: block;
  }

  .credco-medium {
    img {
      height: units(4);
      margin: units(2) units(2) 0;
      animation: fadeIn 0.4s;
    }
  }

  .pages {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    @include when-smaller-than(medium) {
      justify-content: flex-start;
    }
    margin: 0 units(2);

    li {
      height: $height--header-desktop;
      padding: 0;
    }

    a {
      @include when-smaller-than(small) {
        padding: units(2) units(1);
      }
      color: $black-87;
      display: block;
      font: $font--body-2;
      line-height: units(4);
      padding: units(2);
      text-decoration: none;
      transition: border .2s;

      &:hover {
        box-shadow: inset 0 -3px 0 $web-blue;
        transition: border .2s;
      }

      &:active {
        color: $web-blue;
      }
    }
  }
}

// Page navigation: current page indicator
@each $page in about, approach, definitions, results {
  .#{$page} {
    .#{$page} {
      a {
        box-shadow: inset 0 -3px 0 $web-blue;
        color: $web-blue;
        font-weight: 700;
      }
    }
  }
}
