@import url('//fonts.googleapis.com/css?family=Roboto+Slab:700');
@import './shared/variables.scss';
@import './shared/mixins.scss';
@import './shared/layout.scss';
@import './shared/colors.scss';
@import './shared/typography.scss';
@import './shared/buttons.scss';
@import './shared/nav.scss';
@import './shared/background_photo.scss';
@import './shared/animations.scss';
@import './shared/logos.scss';
@import './shared/version.scss';
@import './shared/photos.scss';

  ul.contributors {
    font-size: 16px;

    li {
      font-weight: 400;
    }

    a {
      font-weight: 400;
    }
  }


.blurbs {
  li {
    display: flex;
    align-items: center;
    font: $font--body-1;

    .logo {
      width: 120px;
      min-width: 120px;
      margin-right: 16px;
    }
  }
}

.placeholder {
  opacity: 0.2;
}