<section class="contact colors--inverted layout--relative layout--padding-bottom">
  <div class="section-inner">
    <h3>Contact Us</h3>
    <div class="contact__write">
      <p><a class="button" href="mailto:hello@credibiltycoalition.org">hello@credibiltycoalition.org</a></p>
    </div>
    <span class="version">v<%= $credco_version %></span>
  </div>
</section>
