<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <link rel="shortcut icon" href="<%= image_path 'favicons/favicon.ico' %>" sizes="32x32">
  <title><%= current_page.data.slug.gsub("-", " ").split.map(&:capitalize).join(' ') %> | Credibility Coalition</title>

  <%# Render OGP tags %>
  <%- ogp_tags do |name, value| %>
    <%= "<meta property='#{name}' content='#{value}'>" %>
  <% end %>

  <%= stylesheet_link_tag "screen.css" %>
</head>
