<%# (linked) image helper for jpg, png and svg.

USAGE:

partial "partials/image", :locals => {
          :type => "svg",
          :path => "vectors",
          :name => "cool-image",
          :url => "http://foobar.com",  # optional
        }
%>

<%# Make a cleaner alt tag %>
<% alt = name.gsub("-", " ") %>

<%# If there's a link, define anchor tags %>
<% if defined?(url) %>
  <% start_tag = "<a class='#{name}' href='#{url}'>" %>
  <% end_tag = "</a>" %>
<% end %>

<%# Define a path. %>
<% full_path = defined?(path) ? path : '' %>

<%# Render the linked image %>
<%= start_tag %>
  <% if type == "svg" %>
    <% full_path_and_name = "#{full_path}/#{name}.#{type}" %>
  <% else %>
    <!-- TODO: support srcset 2018-2-22 -->
    <% full_path_and_name = "#{full_path}/#{name}@2x.#{type}" %>
  <% end %>

  <%= image_tag(full_path_and_name, {
        :class => name,
        :alt => alt
      })
    %>
<%= end_tag %>
