<nav class="primary-nav">
  <%# Meedan Logo %>
  <% link_to "/", :class => "credco-medium" do %>
    <%= partial "partials/image", :locals => {
        :type => "png",
        :name => "credco-medium",
        :path => "logos"
      }
    %>
  <% end %>

  <%# Pages navigation %>
  <ul class="pages">
    <li class="about">
      <%= link_to "About", "about" %>
    </li>
    <li class="process">
      <%= link_to "Process", "process" %>
    </li>
    <li class="data">
      <%= link_to "Data", "data" %>
    </li>
  </ul>
</nav>