<div id="react-filters" class="funders"></div>

<section>
  <div id="list-view" style="width: 100%;" class="ag-theme-material"></div>
</section>

<script type="text/javascript" charset="utf-8">

  let agFilters = {
    fFunder: '',
    fType: [],
  };

  var rowData = {{ site.data.credcatalog.funders | credify_funders | jsonify}};

  function renderHTML(params) {
    // render the HTML verbatim
    // https://stackoverflow.com/a/49624608/209184
    return params.value ? params.value : '';
  }

  // specify the columns
  var columnDefs = [
    { headerName: 'Funder', field: 'FunderHTML', cellRenderer: renderHTML, sort: 'asc', autoHeight: true },
    { headerName: 'Description', field: 'Funder Description', width: 400, autoHeight: true, cellClass: 'funder-description' },
    { headerName: 'Projects', field: 'ProjectsHTML', cellRenderer: renderHTML },
  ];

  // specify the columns for small viewports
  var columnDefsSmall = [
    { headerName: 'Funder', field: 'FunderHTML', cellRenderer: renderHTML, sort: 'asc', autoHeight: true }
  ];

  // let the grid know which columns and what data to use
  var gridOptions = {
    defaultColDef: {
      sortable: true,
      filter: true,
      resizable: true
    },
    domLayout: 'autoHeight',
    columnDefs: columnDefs,
    rowData: rowData,
    isExternalFilterPresent: isExternalFilterPresent,
    doesExternalFilterPass: doesExternalFilterPass,
    onGridReady: (event) => {
      if (window.innerWidth <= 480) {
        event.api.setColumnDefs(columnDefsSmall);
      } else {
        event.api.setColumnDefs(columnDefs);
      }
      event.api.sizeColumnsToFit();
      event.api.resetRowHeights();
    }
  };

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#list-view');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions);

  function isExternalFilterPresent() {
    return [agFilters.fFunder].some(el => el.trim().length >= 3) // at least 3 chars to activate filter
    || [agFilters.fType].some(el => el.length > 0);
  }

  function doesExternalFilterPass(node) {
    return [
      { v: agFilters.fFunder, f: 'Name' }
    ].every(filter => {
      const v = filter.v.trim().toUpperCase();
      return ((!v || v.length < 3) || (
        node.data[filter.f] &&
        node.data[filter.f].toUpperCase().includes(v)
      ));
    }) && [
      { v: agFilters.fType, f: 'Type' },
    ].every(filter => {
      const v = filter.v.map(str => str.toUpperCase());
      if (v && v.length > 0) {
        if (node.data[filter.f]) {
          const f = node.data[filter.f].toUpperCase();
          // look for active filters in node data, (set: true if found)
          return v.filter(str => f.includes(str)).length > 0 ? true : false;
        } else {
          // filter out all the nodes where node[filter.f] is null (set: false)
          return false;
        }
      }
      // otherwise just show the node (set: true)
      return true;
    });
  }

  window.addEventListener('resize', (event) => {
    if (window.innerWidth <= 480) {
      gridOptions.api.setColumnDefs(columnDefsSmall);
    } else {
      gridOptions.api.setColumnDefs(columnDefs);
    }
    gridOptions.api.sizeColumnsToFit();
    gridOptions.api.resetRowHeights();
  });
</script>

<script type="text/babel" charset="utf-8">

  const {
    MenuItem,
    Select,
    TextField,
    FormControl,
    InputLabel,
  } = MaterialUI;

  function App() {

    const [fFunder, setFFunder] = React.useState('');
    const [fType, setFType] = React.useState([]);

    React.useEffect(() => {
      // Handle HTML filter update events by updating ag-grid.
      agFilters = {
        fFunder: fFunder,
        fType: fType,
      }
      gridOptions.api.onFilterChanged();
    })

    const handleMultiVal = e => (!e.nativeEvent.target.dataset.value ? [] : e.target.value);

    return (
      <>
        <FormControl variant="filled">
          <InputLabel shrink htmlFor="filter-funder">Funder</InputLabel>
          <TextField id="filter-funder" variant="filled" onChange={(e) => setFFunder(e.currentTarget.value)} value={fFunder} />
        </FormControl>
        <FormControl variant="filled">
          <InputLabel shrink htmlFor="filter-type">Funding Type</InputLabel>
          <Select
            multiple
            value={fType}
            onChange={e => setFType(handleMultiVal(e))}
            id="filter-type"
          >
            <MenuItem value=""><em>All</em></MenuItem>
            {% assign types = site.data.credcatalog.funders | uniq: 'Type' %}
            {% for type in types %}
            <MenuItem key="{{ type }}" value="{{ type }}">{{ type }}</MenuItem>
            {% endfor %}
          </Select>
        </FormControl>
      </>
    )
  };
  ReactDOM.render(<App />, document.querySelector('#react-filters'));

</script>