@font-face{
    font-family:"Neue Machina Ultrabold";
    src:url("/fonts/NeueMachina-Ultrabold.eot?#iefix");
    src:url("/fonts/NeueMachina-Ultrabold.eot?#iefix") format("eot"),url("/fonts/NeueMachina-Ultrabold.woff2") format("woff2"), url("/fonts/NeueMachina-Ultrabold.woff.woff") format("woff"),url("/fonts/NeueMachina-Ultrabold.ttf") format("truetype");
}

@font-face{
    font-family:"Neue Machina Regular";
    src:url("/fonts/NeueMachina-Regular.eot?#iefix");
    src:url("/fonts/NeueMachina-Regular.eot?#iefix") format("eot"),url("/fonts/NeueMachina-Regular.woff2") format("woff2"), url("/fonts/NeueMachina-Regular.woff.woff") format("woff"),url("/fonts/NeueMachina-Regular.ttf") format("truetype");
}
