/* Material UI overrides and customisations */

// fix what non-existing reset.css does to these components
.MuiListSubheader-root,
.MuiListItem-container {
  padding-bottom: 0
}

// carry on
.MuiListItem-root.Mui-selected.MuiListItem-root.Mui-selected {
  background-color: $background;
  color: $web-blue;
}

.MuiMenuItem--Global { background-color: #e8e8e8 !important; }
// .MuiMenuItem--Region { background-color: $background !important; }
// .MuiMenuItem--Subregion { }