<!doctype html>
<html lang="en">
{% include head_map.html %}
<body id="credcatalog" class="map {%if page.url %}{{ page.url | slugify }}{% endif %}">

  {% include nav.html %}

  <main>
    <div class="section-inner-wide">
      <div class="map-header">
        <div class="map-header-title">
            <div class="cap">CredCatalog</div>
            <h1>{{ page.title }}</h1>
        </div>
        {% include map_nav.html active="projects" %}
      </div>
      {% if page.summary %}
        <h4>{{ page.summary | markdownify }}</h4>
      {% endif %}

      <div id="viewFilters" class="view-filters">
        <div class="mdc-text-field project">
          <input class="mdc-text-field__input" id="filter-text-project" oninput="onFilterChanged()">
          <div class="mdc-line-ripple"></div>
          <label for="filter-text-project" class="mdc-floating-label mdc-floating-label--float-above">Project</label>
        </div>

        <div class="mdc-select category">
          <i class="mdc-select__dropdown-icon"></i>
          <select id="filter-list-category" class="mdc-select__native-control" onchange="onFilterChanged()">
            <option value="">&nbsp;</option>
          {% assign categories = site.data.credcatalog.initiatives | uniq: 'Solutions Categories' %}
          {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above">Category</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-select location">
          <i class="mdc-select__dropdown-icon"></i>
          <select id="filter-list-located" class="mdc-select__native-control" onchange="onFilterChanged()">
            <option value="">&nbsp;</option>
          {% assign locations = site.data.credcatalog.initiatives | uniq: 'Location' %}
          {% for location in locations %}
            <option value="{{ location }}">{{ location }}</option>
          {% endfor %}
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above">Location</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-select language">
          <i class="mdc-select__dropdown-icon"></i>
          <select id="filter-list-language" class="mdc-select__native-control" onchange="onFilterChanged()">
            <option value="">&nbsp;</option>
          {% assign languages = site.data.credcatalog.initiatives | uniq: 'Languages-2' %}
          {% for language in languages %}
            <option value="{{ language }}">{{ language }}</option>
          {% endfor %}
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above">Languages</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-select status">
          <i class="mdc-select__dropdown-icon"></i>
          <select id="filter-list-active" class="mdc-select__native-control" onchange="onFilterChanged()">
            <option value="" selected>&nbsp;</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
          <label class="mdc-floating-label mdc-floating-label--float-above">Status</label>
          <div class="mdc-line-ripple"></div>
        </div>

        <div class="mdc-text-field funder">
          <input class="mdc-text-field__input" id="filter-text-funder" oninput="onFilterChanged()">
          <div class="mdc-line-ripple"></div>
          <label for="filter-text-funder" class="mdc-floating-label mdc-floating-label--float-above">Funders</label>
        </div>
      </div>

      <div class="view-controls mdc-chip-set mdc-chip-set--choice">
        <div class="how-to-read-button">
          <button id="how-to-read-button" onclick="showHelp()" class="active">
            <span id="open-help">{% include icon_help.html %} How to read</span>
            <span id="close-help">{% include icon_close.html %} How to read</span>
          </button>
        </div>
        <div class="views">
          <button id="grid-chip" class="mdc-chip mdc-chip--selected" onclick="toggleView('grid')">
            <span class="mdc-chip__text">Grid view</span>
          </button>
          <button id="list-chip" class="mdc-chip" onclick="toggleView('list')">
            <span class="mdc-chip__text">List view</span>
          </button>
        </div>
      </div>

      <section>
        <div id="help" class="how-to-read-panel">
          <div class="close">
            <button onclick="showHelp()">{% include icon_no.html %}</button>
          </div>
          <div class="how-to-read">
              {% include how-to-read.html %}
          </div>
        </div>
        <div id="grid-view">
          <ul class="projects grid-view">
          </ul>
        </div>

        <div id="list-view" style="display: none; width: 100%;" class="ag-theme-material"></div>

        <script type="text/javascript" charset="utf-8">
          {% capture svg %}{% include spectra.svg %}{% endcapture %}
          var rowData = {{ site.data.credcatalog.initiatives | credify_projects: svg | jsonify}};

          function renderHTML(params) {
            // render the HTML verbatim
            // https://stackoverflow.com/a/49624608/209184
            return params.value ? params.value : '';
          }

          // specify the columns
          var columnDefs = [
            { headerName: 'Project', field: 'NameLinked', cellRenderer: renderHTML, autoHeight: true, sort: 'asc' },
            { headerName: 'Category', field: 'CategoriesCleaned' },
            { headerName: 'Location', field: 'LocationCleaned' },
            { headerName: 'Languages', field: 'LanguagesCleaned' },
            { headerName: 'Funders', field: 'FundersLinked', cellRenderer: renderHTML  },
          ];

          // let the grid know which columns and what data to use
          var gridOptions = {
            defaultColDef: {
              sortable: true,
              filter: true,
              resizable: true
            },
            domLayout: 'autoHeight',
            columnDefs: columnDefs,
            rowData: rowData,
            isExternalFilterPresent: isExternalFilterPresent,
            doesExternalFilterPass: doesExternalFilterPass,
          };

          // lookup the container we want the Grid to use
          var eGridDiv = document.querySelector('#list-view');

          // create the grid passing in the div to use together with the columns & data we want to use
          new agGrid.Grid(eGridDiv, gridOptions);
          gridOptions.api.addEventListener('modelUpdated', onModelUpdated);
          onModelUpdated(null);

          function onModelUpdated(event) {
            model = gridOptions.api.getModel();

            // Update the spectral grid.
            const ul = document.querySelector('#grid-view ul');
            while (ul.firstChild) {
              ul.removeChild(ul.firstChild);
            }
            model.rowsToDisplay.forEach(row => {
              const project = row.data;
              const li = document.createElement('li');
              li.classList.add('project-block');
              li.innerHTML = `
                <a href="/credcatalog/project/${project['NameSlug']}">
                  ${project['Spectra']}
                  <div class="project-name">
                    ${project['Name']}
                  </div>
                </a>
              `;
              ul.appendChild(li);
            });
          }

          function isExternalFilterPresent() {
            return [
              document.getElementById('filter-text-project'),
              document.getElementById('filter-text-funder')
            ].some(el => el.value.trim().length >= 3) // at least 3 chars to activate filter
            || [
              document.getElementById('filter-list-located'),
              document.getElementById('filter-list-language'),
              document.getElementById('filter-list-category'),
              document.getElementById('filter-list-active'),
            ].some(el => el.options[el.selectedIndex].value.length);
          }

          function doesExternalFilterPass(node) {
            // Filters passes the given node if
            // - Filter is empty OR
            // - Filter and node values match (field-dependent)
            return [
              { v: document.getElementById('filter-text-project'), f: 'Name' },
              { v: document.getElementById('filter-text-funder'), f: 'Funders' },
            ].every(filter => {
              const v = filter.v.value.trim().toUpperCase();
              return (
                (
                  !v
                ) || (
                  node.data[filter.f] &&
                  node.data[filter.f].toUpperCase().includes(v)
                )
              );
            }) && [
              { v: document.getElementById('filter-list-located'), f: 'Location' },
              { v: document.getElementById('filter-list-category'), f: 'Solutions Categories' },
              { v: document.getElementById('filter-list-language'), f: 'Languages-2' },
            ].every(filter => {
              const v = filter.v.options[filter.v.selectedIndex].value.toUpperCase();
              return (
                (
                  !v
                ) || (
                  node.data[filter.f] &&
                  node.data[filter.f].toUpperCase().includes(v)
                )
              );
            }) && [
              { v: document.getElementById('filter-list-active'), f: 'Active/Inactive' },
            ].every(filter => {
              const v = filter.v.options[filter.v.selectedIndex].value.toUpperCase();
              return (
                (
                  !v
                ) || (
                  node.data[filter.f] &&
                  node.data[filter.f].toUpperCase() == v
                )
              );
            });
          }

          window.addEventListener('resize', () => {
            gridOptions.api.sizeColumnsToFit();
            gridOptions.api.resetRowHeights();
          });

          function onFilterChanged() {
            // Update ag-Grid.
            gridOptions.api.onFilterChanged();
          }

          function toggleView(view) {
            [
              'grid',
              'list'
            ].forEach(v => {
              const div = document.getElementById(v + '-view');
              div.style.display = view === v ? 'block' : 'none';
              const chip = document.getElementById(v + '-chip');
              chip.classList[ view === v ? 'add' : 'remove' ]('mdc-chip--selected');
            });

            if (view === 'list') {
              gridOptions.api.sizeColumnsToFit();
              gridOptions.api.resetRowHeights();
            }
          }

          function showHelp() {
            var btn = document.getElementById("how-to-read-button");
            btn.classList.toggle('active');
            var el = document.getElementById("help");
            var oh = document.getElementById("open-help");
            var ch = document.getElementById("close-help");
            if (el.style.display === "none") {
              el.style.display = "block";
              ch.style.display = "flex";
              oh.style.display = "none";
            } else {
              el.style.display = "none";
              ch.style.display = "none";
              oh.style.display = "flex";
            }
          }

        </script>
      </section>
    </div>
  </main>
  <footer class="colors--inverted layout--relative">
    {% include footer_cc.html %}
  </footer>

</body>
{% include js.html %}
</html>
