---
layout: "default"
slug: "about"
---

<section>
    <div class="section-inner">
        <h1>About</h1>
        <h4>We are a diverse, interdisciplinary community committed to improving our information ecosystems and media literacy through transparent and collaborative exploration.</h4>
    </div>
</section>

<section class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">

    <p>The proliferation of misinformation in online news and its amplification by automated feeds and social media are a growing concern.</p>

    <p>Many solutions are being attempted, but the misinformation problem is so large that any single effort can only provide partial alleviation. Tackling it successfully will require a holistic approach, with reputation systems, fact-checking, media literacy, revenue models, and public feedback all helping to address the health of the information ecosystem.</p>

    <h2>Our Efforts</h2>
    <p>Together, as a coalition, we are interested in complementing these efforts by defining the factors that lead to credibility assessments or that make information reliable. </p>
    
    <p>Rather than jointly deciding whether an article is “credible” or “not credible” or endorsing any single index or evaluation of credibility, the Credibility Coalition fosters the development of a framework around which credibility can be discussed and interpreted. Our goal is to provide a range of indicators that can be used by a person — or a system — to gauge if an article can inform or educate that person (or whoever the audience is likely to be).</p> 
        
    <p> If solutions — especially scalable ones — are possible, they will require organized cooperation through <%= link_to 'shared vocabularies', '/definitions.html' %> for understanding the nature of credible content. Our contribution will be an iterative, evolving and transparent process by diverse research projects using different tools to test hypotheses about information quality.</p>

    <p>Solutions will also require continual assessments about the risks of censorship and gamified knowledge systems: risks that are already present in our current ecosystem and that demand thoughtful, knowledgable approaches.</p>
    
    <h2>Our History</h2>

    <p>The Credibility Coalition is an initiative co-founded by Meedan and Hacks/Hackers. We were incubated at the first <a href="https://misinfocon.com/">MisinfoCon</a> in early 2017 and grew under a <a href="https://knightfoundation.org/press/releases/knight-prototype-fund-awards-1-million-to-20-projects-to-improve-the-flow-of-accurate-information">Knight Prototype Fund Grant</A> focused on improving the flow of accurate information.</p>

    <p>We have presented our initiative in a number of international venues to gain feedback and partners; recent examples include the <a data-proofer-ignore href="https://mozillafestival.org/">Mozilla Festival 2017</a>, the <a href="https://iptc.org/events/autumn-meeting-2017/">International Press Telecommunications Council Autumn 2017 Meeting</a>, and <a href="http://mediax.stanford.edu/events/knight-commission-on-trust-media-and-democracy">The Knight Commission on Trust, Media and Democracy</a>.</p>

    <div class="fancy-image-wrapper layout--padding-top">
        <div class="fancy-image fancy-image-2"></div>
    </div>

    <p class="caption">The Credibility Coalition was born during a late night creative studio session at MisinfoCon, hosted at the Media MIT Lab.
    </p>

    <h4>Awards and Grants</h4>
    <ul>
      <li><a href="https://knightfoundation.org/press/releases/knight-prototype-fund-awards-1-million-to-20-projects-to-improve-the-flow-of-accurate-information">2017: Knight Prototype Fund</a></li>
    </ul>
  </div>
</section>

<section class="credibility-coalition__section layout--padding-bottom">
  <div class="section-inner">
    <h2>Join us!</h2>
    <p>We value a diverse and inclusive membership and encourage broad participation. Our team of core and advisory members meet regularly online and offline to share findings and results. </p>

    <p>The core contributors of our working group including the following individuals and organizations: </p>
  
  <ul class="contributors layout--padding-top">

    <li>Dr. Nick Adams <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Nate Angell <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Ed Bice <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Robyn Caplan <a href="https://datasociety.net/" title="Data &amp;amp; Society">Data &amp; Society Research Institute</a></li>
    <li>Renee DiResta <a href="http://datafordemocracy.org/" title="Data for Democracy">Data for Democracy</a> </li>
    <li>Dhruv Ghulati <a href="http://factmata.com/" title="Factmata">Factmata</a></li>
    <li>Vinny Green <a href="http://www.snopes.com/" title="Snopes.com | The definitive fact-checking site and reference source for urban legends, folklore, myths, rumors, and misinformation.">Snopes</a></li>
    <li>Natalie Gyenes <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Sandro Hawke <a href="https://www.w3.org/" title="World Wide Web Consortium (W3C)">W3C</a> <a href="http://web.mit.edu/" title="MIT - Massachusetts Institute of Technology">MIT</a></li>
    <li>David Karger <a href="https://www.csail.mit.edu/" title="MIT CSAIL">MIT CSAIL</a></li>
    <li>Jennifer 8. Lee <a href="https://hackshackers.com/" title="Hacks/Hackers / join the media revolution">Hacks/Hackers</a></li>
    <li>Dr. Emlen Metz <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>An Xiao Mina <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a> <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Stuart Myles <a href="https://www.ap.org/en-us/" title="Associated Press">The Associated Press</a></li>
    <li>Aviv Ovadya <a href="https://www.si.umich.edu/research/center-social-media-responsibility" title="Center for Social Media Responsibility, University of Michigan School of Information">Center for Social Media Responsibility, University of Michigan School of Information</a></li>
    <li>Aditya Ranganathan <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Karim Ratib <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Martin Robbins <a href="http://factmata.com/" title="Factmata | Whitepages">Factmata</a></li>
    <li>Evan Sandhaus <a href="https://www.nytimes.com/" title="The New York Times - Breaking News, World News &amp; Multimedia">New York Times</a></li>
    <li>Connie Moon Sehat <a href="https://globalvoices.org/" title="Global Voices &amp;middot; Citizen media stories from around the world">Global Voices</a></li>
    <li>Heather Staines <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Sara-Jayne Terp <a href="https://www.appnexus.com/en" title="AppNexus">AppNexus</a></li>
    <li>Jon Udell <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Rick Weiss <a href="http://www.sciline.org/" title="AAAS">AAAS SciLine</a></li>
    <li>Dan Whaley <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Emmanuel Vincent <a href="https://climatefeedback.org/" title="Scientific Reference to Reliable Information on Climate Change - Climate Feedback">Climate Feedback</a></li>
    <li>Amy X. Zhang <a href="https://www.csail.mit.edu/" title="MIT Computer Science and Artificial Intelligence Laboratory | MIT CSAIL">MIT CSAIL</a></li>
  </ul>

 </div>
</section>
