---
layout: "default"
slug: "about"
---

<div class="section-inner">
  <h1 class="layout--padding-top">About</h1>
    <h4 class="layout--padding-top">We are a diverse, interdisciplinary community committed to improving our information ecosystems and media literacy through transparent and collaborative exploration.</h4>


</div>

<div class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">

    <p>As concerns grow about the importance of credible information in news, it has become increasingly necessary to develop broader consensus around what makes information content credible amongst key providers. Another key concern is how this credibility is communicated as content travels around the web.</p>

    <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>

    <p>Defining a set of standards for content credibility leverages the expertise of a knowledgeable community, creating a growing foundation upon which interested providers can make important decisions about how we share and display information, regardless of what site it appears on.</p>

    <h2>Our History</h2>

    <h4 class="subtitle">An initiative co-founded by Meedan and Hacks/Hackers</h4>

    <p>There are a few core problems that members of our working group aim to address. By solving these problems, we hope to foster healthy cooperation among an ecosystem of teams building tools and communities producing clear and useful credibility metrics. While this group is focused on articles at the outset, we hope to engage with claims, images, videos and other forms of content in the long term.
    </p>

    <p>We have four core goals:</p>

  </div>
</div>



<div class="credibility-coalition__section layout--padding-bottom">
  <div class="section-inner">
  <h2>JOIN US!</h2>
  <p>We value a diverse and inclusive membership and encourage broad participation. Our team of core and advisory members meet regularly online and offline to share findings and results. </p>
  <div class="section-inner">
    <img src="../images/image-2.jpg" class="fade-in responsive" lt="link to image-2">

    <p class="caption">The Credibility Coalition was born during a late night creative studio session at MisinfoCon, hosted at the Media MIT Lab.</p>
  </div>
  <p>The core contributors of our working group including the following individuals and organizations: @CHRIS: AVATAR GRID POSSIBLE? </p>
  <!--
  <ul class="contributors">

    <li>Dr. Nick Adams, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Nate Angell, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Ed Bice, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Robyn Caplan, <a href="https://datasociety.net/" title="Data &amp;amp; Society">Data &amp; Society Research Institute</a></li>
    <li>Renee DiResta, <a href="http://datafordemocracy.org/" title="Data for Democracy">Data for Democracy</a> </li>
    <li>Dhruv Ghulati, <a href="http://factmata.com/" title="Factmata">Factmata</a></li>
    <li>Vinny Green, <a href="http://www.snopes.com/" title="Snopes.com | The definitive fact-checking site and reference source for urban legends, folklore, myths, rumors, and misinformation.">Snopes</a></li>
    <li>Natalie Gyenes, <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Sandro Hawke, <a href="https://www.w3.org/" title="World Wide Web Consortium (W3C)">W3C</a>; <a href="http://web.mit.edu/" title="MIT - Massachusetts Institute of Technology">MIT</a></li>
    <li>David Karger, <a href="https://www.csail.mit.edu/" title="MIT CSAIL">MIT CSAIL</a></li>
    <li>Jennifer 8. Lee, <a href="https://hackshackers.com/" title="Hacks/Hackers / join the media revolution">Hacks/Hackers</a></li>
    <li>Dr. Emlen Metz, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>An Xiao Mina, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a>; <a href="https://cyber.harvard.edu/" title="Berkman Klein Center">Berkman Klein Center for Internet and Society</a></li>
    <li>Stuart Myles, <a href="https://www.ap.org/en-us/" title="Associated Press">The Associated Press</a></li>
    <li>Aviv Ovadya, Fellow at <a href="https://towcenter.org/" title="Tow Center for Digital Journalism">Tow Center for Digital Journalism at Columbia</a></li>
    <li>Aditya Ranganathan, <a href="https://bids.berkeley.edu/" title="Berkeley Institute for Data Science">Berkeley Institute for Data Science</a></li>
    <li>Karim Ratib, <a href="https://meedan.com/en/" title="Home | Meedan">Meedan</a></li>
    <li>Evan Sandhaus, <a href="https://www.nytimes.com/" title="The New York Times - Breaking News, World News &amp; Multimedia">New York Times</a></li>
    <li>Connie Moon Sehat, <a href="https://globalvoices.org/" title="Global Voices &amp;middot; Citizen media stories from around the world">Global Voices</a></li>
    <li>Heather Staines, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Robert Stojnic, <a href="http://factmata.com/" title="Factmata | Whitepages">Factmata</a></li>
    <li>Sara-Jayne Terp, <a href="https://www.appnexus.com/en" title="AppNexus">AppNexus</a></li>
    <li>Jon Udell, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Rick Weiss, <a href="http://www.sciline.org/" title="AAAS">AAAS SciLine</a></li>
    <li>Dan Whaley, <a href="https://web.hypothes.is/" title="Hypothesis &amp;#8211; The Internet, peer reviewed.">Hypothesis</a></li>
    <li>Emmanuel Vincent, <a href="https://climatefeedback.org/" title="Scientific Reference to Reliable Information on Climate Change - Climate Feedback">Climate Feedback</a></li>
    <li>Amy X. Zhang, <a href="https://www.csail.mit.edu/" title="MIT Computer Science and Artificial Intelligence Laboratory | MIT CSAIL">MIT CSAIL</a></li>
  </ul>
-->
    <p>Interested to learn more?....</p>

 </div>
</div>


<section class="contact colors--inverted">
  <div class="section-inner">
    <h3>Contact Us</h3>
    <div class="contact__write">
     <p><a class="button" href="">hello [at] credibiltycoalition [dot] org </a></p>
    </div>
  </div>
