---
layout: "default"
slug: "approach"
---

<div class="section-inner">
    <h1>Approach</h1>
    <h4>We work collaboratively, developing a set of indicators according to open standards and sharing the results of our distributed tests and validations.</h4>
</div>
<div class="credibility-coalition__section layout--padding-top">
    <div class="section-inner">
        <p>The Credibility Coalition fosters the development of a structure for interpreting credibility in news articles in two ways:
            <ul class="bulleted">
                <li>through the collaborative definition and refinement of the credibility indicator framework itself,</li>
                <li>and the sponsoring of attempts to validate the framework through research, receiving feedback towards the next version of indicators.</li>
            </ul>
            <img src="<%= image_path 'credco-process-flow.png' %>" class="fade-in responsive" lt="example image">
        </p>
    </div>
</div>
<div class="section-inner">
    <h2>Project: W3C Working Group on Credibility (October 2017 - present)</h2>
    <p> The mission of the W3C <a href="https://www.w3.org/community/credibility/">Credible Web Community Group</a> is to help shift the Web toward more trustworthy content without increasing censorship or social division. We want users to be able to tell when content is reliable, accurate, and shared in good faith, and to help them steer away from deceptive content. At the same time, we affirm the need for users to find the content they want and to interact freely in the communities they choose. To balance any conflict between these goals, we are committed to providing technologies which keep end-users in control of their Web experience.</p>
    <h2>Project: R1 Indicator Annotation and Assessment (October 2017 - present)</h2>
    <p> For this research, members collaboratively developed an initial set of indicators for article credibility. Indicators originate from both within an article’s text as well as from external sources or article metadata. As a proof-of-concept, 6 trained individuals annotated a dataset of 40 articles of varying credibility with selecdted credibility indicators using specialized platforms. Future steps for this initiative are also being outlined, including expanding annotation efforts, broadening the set of indicators, and considering their use by platforms and the public, towards the development of interoperable standards for content credibility.</p>
    <h4>Notes</h4>
    <p>The results of the first annotation effort are being presented at <a href="https://www2018.thewebconf.org/program/misinfoweb/">WebConf 2018</a> in Lyon, France.</p>
    <p>Related papers and data can be found on the <%= link_to 'results page', '/results.html' %>. </p>
</div>
<div class="section-inner">
    <div class="fancy-image-wrapper">
        <div class="fancy-image fancy-image-1"></div>
    </div>
    <p class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the New York working group meeting. Photo courtesy the Brown Institute.</p>
</div>
