---
layout: "default"
slug: "approach"
---
<section>
  <div class="section-inner">
    <h1>Approach</h1>
    <h4>We work collaboratively and openly, developing frameworks that seek feedback from diverse experiences and expertise and share the results of our distributed tests and validations.</h4>
  </div>
</section>
<section>
  <div class="section-inner">
    
    <p><b><em>Frameworks</b></em> are structures, processes, and data that are necessary to enable the participation of organizations, experts, and non-experts in issues of information quality.</p>
     <div class="fancy-image-wrapper">
<img src="<%= image_path 'credco-framework.png' %>" alt="Overview of Credibility Coalition as framework" class="fade-in responsive" lt="credco framework">
    </div>
    <p class="caption">This workflow outlines our current path for assessing news for credibility, and contrasts the framework efforts of the Coalition as a whole (on the left) from the role of <em>interpretation</em> (on the right) by researchers, platforms, or automated systems &mdash; which may be carried out independently by Coalition members.</p>

    <p>Our frameworks are dynamic and under development all the time.</p>
   
    <h2>Better Standards</h2>
      <ul class="bulleted">
        <li><p>Indicators and Data</p>
            <img src="<%= image_path 'CredCo-indicator-lifecycle.png' %>" alt="Lifecycle of Indicator development" class="fade-in responsive" lt="indicator lifecycle">
        </li>
      </ul>
    <h2>Rigorous Research </h2>
      <ul class="bulleted">
        <li><p>Workshops</p>
              <div class="fancy-image-wrapper">
      <div class="fancy-image fancy-image-1"></div>
    </div>
    <p class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the 2017 New York working group meeting. Photo courtesy the Brown Institute.</p>

        </li>
        <li>Working Groups</li> 
        <li>Microgrants</li>
      </ul>
    <h2>Thoughtful Application</h2>
      <ul class="bulleted">
        <li><p><a href="https://misinfocon.com/our-toolkit-for-people-and-teams-tackling-misinformation-online-9e6d240f3136">Strategic Mapping of Efforts ("MisinfoMap)</a></p>
                        <div class="fancy-image-wrapper">
            <img src="<%= image_path 'credco-misinfomap-stylized.jpg' %>" alt="MisinfoMap Efforts" class="fade-in responsive" lt="misinfomap">
          </div>
        </li>
      </ul>
  </div>
</section>
    

