---
layout: "default"
slug: "definitions"
---
<section>
  <div class="section-inner">
    <h1>Definitions</h1>
    <h4> Robust definitions of credibility and its indicators are required for effective solutions, whether that's automated processing or improved media literacy.</h4>
  </div>
</section>

<section>
  <div class="section-inner">
    <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough. We believe that it is crucial for researchers, journalists, and the general public to understand what parts of a story are credible and why. We also believe it is important to understand how to discuss credibility effectively.</p>

    <h2>What is credibility?</h2>
    <p>Simply put, credibility is <strong>information reliability</strong>. While individual members of the Coalition may define the factors that make up information reliability with some variability, we believe that it is necessary and beneficial to work together in creating shared understandings.</p>
    <p>This is because the assessment of reliability is <em>complex</em>. Credibility is not a boolean flag, or the simple answer to a "yes/no" question. </p>
    <p>Credibility is related to <em>accuracy</em>. But our goal is not to weigh into, for example, disagreements among scientists on the precise pace of rising sea levels or historians who differ on the exact number of deaths resulting from genocidal events. There are a number of articles that are more credible than others, and these articles may be equally credible even if there’s disagreement among experts. The same applies for other items in the news, like breaking news in the wake of a natural disaster.</p>
    <p>There is an aspect to credibility that is a <em>negotiation</em>, where publishers and authors seek to convey credibility while readers and platforms seek to better ascertain it. The factors that make up credibility are related to one another in ways that are intricate and not yet well understood. </p>
    <p>This complexity is why we anticipate differences among particular interpretations of why one story is more credible than the next, but nonetheless believe that the structure &mdash; the relationships and signals of credibility &mdash; can be productively defined through a community effort. In fact, given the intricacies of information networks and negotiation, we believe that a collaborative and iterative approach is necessary.</p>

    <h2>Indicators</h2>
    <p>Central to the Credibility Coalition's endeavor is the definition and refinement of signals, or indicators for credibility.</p>
    <p><a href="https://credweb.org/cciv/r/1">Example indicators</a> include looking at advertisements and revenue models, the structure of an article, and how it quotes and represents outside experts and scientific literature, such as:</p>
    
     <img src="<%= image_path 'webconf2018-draft-indicators.png' %>" alt="WebCon 2018 Indicators" class="fade-in responsive" lt="pilot indicators">
    
    <p>More indicators are available here, as they undergo proposal, review, and refinement process through our <%= link_to "Indicators and Data process", '/approach.html' %>.

  </div>
</section>
