---
layout: "default"
slug: "definitions"
---
<div class="section-inner">
  <h1 class="layout--padding-top">Definitions</h1>
  <h4 class="layout--padding-top"> Robust definitions of credibility and its indicators are required for effective solutions, whether automated processing or improved media literacy.</h4>
</div>
<div class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">
    <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for researchers, journalists, and the general public to understand what parts of a story are credible and why. We also believe it is important to understand how to discuss credibility effectively.</p>
    <h2 class="layout--padding-top">What is credibility?</h2>
    <p>Simply put, credibility is <strong>information reliability</strong>. While individual members of the Coalition may define the factors that make up information reliability with some variability, we believe that it is necessary and beneficial to work together in creating shared understandings.</p>
    <p>This is because the assessment of reliability is <em>complex</em>. Credibility is not a boolean flag, or the simple answer to a "yes/no" question. </p>
    <p>Credibility is related to <em>accuracy</em>. But our goal is not to weigh into, for example, disagreements among scientists on the precise pace of rising sea levels or historians who differ on the exact number of deaths resulting from genocidal events. In the end, there are a number of articles on climate change or genocide that are more credible than others, and that these articles may be equally credible even if there’s disagreement among experts. The same applies for other items in the news, like breaking news in the wake of a natural disaster.</p>
    <p>There is an aspect to credibility that is a <em>negotiation</em>, where publishers and authors seek to convey credibility while readers and platforms seek to better ascertain it. The factors that make up credibility are related to one another in intricate, not yet well understood ways. </p>
    <p>This complexity is why we anticipate differences among particular interpretations of why one story is more credible than the next, but nonetheless believe that the structure &mdash; the relationships and signals of credibility &mdash; can be productively defined through a community effort. In fact, given the intricacies of information networks and negotiation, we believe that a collaborative and iterative approach is necessary.</p>
    <h2 class="layout--padding-top">Indicators</h2>
    <p>At the heart of the Credibility Coalition's endeavour is the definition and refinement of the signals, or indicators, for credibility.</p>
    <p>In addition, our data model includes dimensions such as Authors, in addition to Publishers or Content-related aspects, that related some indicators to one another more strongly than others.</p>
    <p>Example indicators include:</p>
    <ul class="bulleted">
      <li>Presence of Advertisements under <em>Revenue Model</em></li>
      <li>Dateline under <em>Article Structure</em></li>
      <li>Quotes from Outside Experts under <em>Outbound References</em></li>
    </ul>
    <p>The first full version of our schema is forthcoming.</p>
  </div>
</div>
