---
layout: "default"
slug: "home"
---

<section class="home__lead">
<div class="section-inner">
    <h1>Can we agree on why and how some news stories are more credible than others -- <em>at scale?</em></h1>
    <p><p><p>
    <h2 class="subtitle" align="right">...The Credibility Coalition is creating a community-driven approach to try and find out.</h2>
    <p>
</div>
</section>

<div class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">
      <p>Our collaborative <a href="">process</a> results in <a href="">vocabularies</a> around information quality and <a href="">data</a> for further explorations regarding the nature of “<a href="" alt="What is credibility?">credible content</a>.” </p>

  <p>Join us!</p>

    </div>
</div>

<section class="home__recent-press">
<!-- @chris: taken from Meedan template. need icons, styling  BUT, i am not sure about this format for highlighting this press -- it's not praise, just recent mentions. -->

  <div class="section-inner">
    <h3>RECENT MENTIONS</h3>
    <ul class="blurbs layout--padding-bottom">
  <li class="blurb__journalismdotco">
    <a href="https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/">
      <img class="logo" src="/images/logos/journalismdotco@1x.jpg" alt="Journalism.co.uk logo" srcset="/images/logos/journalismdotco@2x.jpg 2x">
      <p>
          “As many independent projects are now working on fighting misinformation and analysing trust, a common framework is needed.”
      </p>
    </a>
  </li>

  <li class="blurb__councilofeurope">
    <a href="https://rm.coe.int/information-disorder-report-november-2017/1680764666">
      <img class="logo" src="/images/logos/niemanlab@1x.jpg" alt="need COE Logo" srcset="/images/logos/niemanlab@2x.jpg 2x">
      <p>
        “...to see if there can be a programmatic way for social networks use their scores to influence algorithmic rankings..”
      </p>
    </a>
  </li>

  <li class="blurb__aspeninstitute">
    <a href="https://www.aspeninstitute.org/programs/communications-and-society-program/recap-palo-alto-ca-forum/">

    <img
      class="gnl"
      alt="need Aspen logo"
      src='/images/logos/gnl@1x.png'
      srcset='/images/logos/gnl@2x.png 2x' >


      <p>
          “The Credibility Coalition is a diverse grassroots group of volunteers whose goals are to identify a set of credibility indicators and use cases; build cooperation around a data model; and generate and use testing data to improve the model.”
      </p>
    </a>
  </li>
</ul>

  </div>
</section>

<div class="credibility-coalition__logos layout--padding-bottom">
  <div class="section-inner">
    <p><b>An initiative co-founded by Meedan and Hacks/Hackers.</b> The Credibility Coalition, formerly known as the Credibility Indicators Working Group, has received generous support from:</p>

    <ul class="logos">
      <% data.credco_logos.each do |image| %>
        <li>
          <%= partial "partials/image", :locals => {
              :type => image[:type],
              :name => image[:name],
              :url => image[:url],
              :path => "logos"
            } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="credibility-coalition__section  layout--padding-bottom">
  <div class="section-inner">
    <p>We are proud recipients of a <a href="https://knightfoundation.org/challenges/knight-prototype-fund">Knight Prototype Fund grant</a>.</p>
  </div>
</div>

<section class="contact colors--inverted">
  <div class="section-inner">
    <h3>Contact Us</h3>
    <div class="contact__write">
        <p><a class="button" href="">hello [at] credibiltycoalition [dot] org </a></p>

  </div>
