---
layout: "default"
slug: "jobs"
---

<section>
    <div class="section-inner">
        <h1>Jobs</h1>
    </div>
</section>


<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Annotation Work with CredCo</h3>
    <p>The Credibility Coalition is currently laying the groundwork for further explorations of article credibility on the web. We are seeking students passionate about tackling misinformation, addressing information and news credibility and understanding the role artificial intelligence plays in this sector.</p>
    <p>We are developing future rounds of testing data (you can find our <a href="https://credco.meedan.com/pdfs/CredCoWebConf2018.pdf">initial study here</a> and <a href="https://docs.google.com/presentation/d/1hGNqM_aO6U3gtryqqLZ_fTKreE940KIWlMnrfV5ooXU/">more info here</a>), and we are seeking help with annotating articles -- the first building block of designing artificial intelligence for information credibility. Student annotators will help develop our data by reviewing the articles and marking them up with a simple set of indicators.</p>
    <p>An interest in journalism is preferred, but those with any background, including engineering, computer science, politics, linguistics and sociology, can apply.</p>
    <p>Each annotator's work takes about 10 hours. All work is done remotely.</p>
    <p>Specifically, each annotator's responsibilities include:</p>
      <ul class="bulleted">
        <li>Reading 50 articles (subject matter TBD). Different articles have different levels of credibility.</li>
        <li>Reviewing definitions of a few indicators. For instance, we might ask you to look at an article and indicate if the article contains a clickbait headline. We’ll give you clear definitions of each indicator and how to rate them.</li>
        <li>Marking up a set of indicators to measure the article’s credibility.</li>
      </ul>

    <p>Annotators will gain experience:</p>
      <ul class="bulleted">
        <li>Understanding the annotation process of data gathering for artificial intelligence.</li>
        <li>Analyzing biases in news content.</li>
        <li>Learning the nuanced challenges of designing AI for addressing information and news credibility.</li>
      </ul>
    <p>We offer the following compensation:</p>
      <ul class="bulleted">
        <li>A stipend of $150 for each annotator's efforts.</li>
        <li>Academic incentives (class credit, etc).</li>
        <li>If you choose, we can credit your support if we publish the data.</li>
      </ul>
    <p>To participate in an upcoming study, please submit your resume to Dwight Knell, Program Lead, at <a href="mailto:dwight@meedan.com">dwight@meedan.com</a>.</p>
  </div>
</section>
