---
layout: "default"
slug: "process"
---

<div class="section-inner">
  <h1 class="layout--padding-top">Process</h1>
  <h4 class="layout--padding-top">Our current process for indicator definition and annotation involves ...</h4>

  <p>The strengths of our initiative 
  </p>

  <div class="section-inner">

    <img src="../images/photo-1.jpg" class="fade-in responsive" lt="example image">
    <p class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the New York working group meeting. Photo courtesy the Brown Institute.</p>
  </div>

  <h2>Project: Indicator Annotation</h2>

  <p>Our current effort to annotate articles related to credibility indicators ...</p>



  <p>Limits... lines between our effort and interpretation ...</p>

</div>
