---
layout: "default"
slug: "process"
---

<div class="section-inner">
  <h1 class="layout--padding-top">Process</h1>
  <h2>Headline</h2>
  <p>Our current effort to annotate articles related to credibility indicators ...</p>

  <p>Limits... lines between our effort and interpretation ...</p>

</div>

<div class="section-inner">

  <img src="../images/photo-1.jpg" class="fade-in responsive" lt="example image">
  <p class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the New York working group meeting. Photo courtesy the Brown Institute.</p>
</div>

<div class="section-inner">
  <a class="button">Example button</a>
</div>

<div class="section-inner">
  <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>
</div>
