---
layout: "default"
slug: "results"
---

<section>
    <div class="section-inner">
        <h1>Results</h1>
        <h4>By hosting the results of our efforts and current conclusions, we provide building blocks for future research around our central question about assessments of news credibility.</h4>
    </div>    
</section>

<section>
    <div class="section-inner">
        <h2>Papers</h2>
        <dl class="citations">
            <dt class="citation">
                Amy Zhang, Aditya Ranganathan, Sarah Emlen Metz, Scott Appling, Connie Moon Sehat, Norman Gilmore, Nick B. Adams, Emmanuel Vincent, Jennifer 8. Lee, Martin Robbins, Ed Bice, Sandro Hawke, David Karger, and An Xiao Mina. <cite><%= link_to "A Structured Response to Misinformation: Defining and Annotating Credibility Indicators in News Articles.", '/pdfs/CredCoWebConf2018.pdf' %></cite> <a href="https://www2018.thewebconf.org/program/misinfoweb/">The Web Conference</a>, April 2018.
            </dt>
            <dd class="citation-description">
                <p>The proliferation of misinformation in online news and its amplification by platforms are a growing concern, leading to numerous efforts to improve the detection of and response to misinformation. Given the variety of approaches, collective agreement on the indicators that signify credible content could allow for greater collaboration and data-sharing across initiatives. In this paper, we present an initial set of indicators for article credibility defined by a diverse coalition of experts. These indicators originate from both within an article’s text as well as from external sources or article metadata. As a proof-of-concept, we present a dataset of 40 articles of varying credibility annotated with our indicators by 6 trained annotators using specialized platforms. We discuss future steps including expanding annotation, broadening the set of indicators, and considering their use by platforms and the public, towards the development of interoperable standards for content credibility.</p>

                <p>Download <%= link_to "the paper", '/pdfs/CredCoWebConf2018.pdf' %>. <span class="pdf">PDF</span></p> 

                <h4>Dataset</h4>
                <p>View <a href="https://data.world/credibilitycoalition/webconf-2018">data</a>.</p>
                
                <h4>Acknowledgements</h4>
                <p>This paper would not be possible without the valuable support and feedback of members of the Credibility Coalition, who have joined weekly calls and daily Slack chats to generously contribute their time, effort and thinking to this project. In addition to the authors of this paper, this includes Nate Angell, Robyn Caplan, Renee DiResta, James P. Fairbanks, Dan Froomkin, Dhruv Ghulati, Vinny Green, Natalie Gyenes, Cameron Hickey, Stuart Myles, Aviv Ovadya, Karim Ratib, Cameron Hickey, Evan Sandhaus, Heather Staines, Robert Stojnic, Sara-Jayne Terp, Jon Udell, Rick Weiss, Dan Whaley.</p>

                <p>We are also grateful for feedback and support from the attendees of our in-person meetings, including Jordan Adler, Erica Anderson, Dan Brickley, Mike Caulfield, Miles Campbell, Jeff Chang, Jason Chuang, Nic Dias, Mark Graham, Eric Kansa, Burt Herman, Mandy Jenkins, Olivia Ma, Sunil Paul, Aubrie Johnson, Sana Saleem, Wafaa Heikal, Mark Graham, Tessa Lyons-Laing, Patricia Martin, Alice Marwick, Andrew Mullaney, Merrilee Proffitt, Zara Rahman, Paul Resnick, Prashant Prakashbhai Shiralkar, Joel Schlosser, Ivan Sigal, Dario Taraborelli, Tom Trewinnard, Paul Walsh, Rebecca Weiss, Cong Yu. A special thanks to Sally Lehrmann and Subramaniam Vincent from the Trust Project for shared thinking and support.</p>

                <p>We owe thanks to those who have housed conversations and workshops and offered critical feedback, including <a href="https://firstdraftnews.org/" title="First Draft News">First Draft</a> and <a href="https://shorensteincenter.org/" title="Shorenstein Center -">the Shorenstein Center on Media, Politics and Public Policy at Harvard University</a>; <a href="https://brown.columbia.edu/" title="">the Brown Institute for Media Innovation at Columbia University</a>; and <a href="http://www.northwestern.edu/" title="Northwestern University">Northwestern University</a>. Thanks to conferences and events that have hosted workshops or presentations with us, including <a href="https://www.w3.org/2017/11/TPAC/" title="TPAC2017">W3C TPAC</a>, <a data-proofer-ignore href="https://mozillafestival.org" title="Mozilla Festival">the Mozilla Festival</a>, <a href="https://misinfocon.com/?gi=19f66452a71a" title="MisinfoCon">MisinfoCon</a>, <a href="https://www.newsgeist.org/exploring-future-news/" title="Exploring The Future Of News &amp;#8211; Newsgeist">Newsgeist</a>, <a href="https://www.aspeninstitute.org/programs/communications-and-society-program/knight-commission-trust-media-democracy/" title="The Knight Commission on Trust, Media and Democracy">the Knight Commission on Trust, Media and Democracy</a>, and <a href="http://cj2017.northwestern.edu/" title="Computation+Journalism Symposium - Northwestern University">the Computation and Journalism Symposium</a>.</p>
            </dd>
        </dl>
    </div>
</section>
