---
layout: "default"
slug: "process"
---

<section>
  <div class="section-inner" data-proofer-ignore>
    <h1>Page title</h1>
    <h2>Headline</h2>
    <h4>Subtitle</h4>

    <p>Paragraph text: example text with <em>italicized content</em> and a <a href="#" title="Example link to webpage">link</a>. It has become increasingly necessary to develop broader consensus around what makes information content credible amongst key providers.</p>
  </div>
</section>

<section>
  <div class="section-inner">
    <img src="http://placehold.it/730x451" alt="Alt tag" class="fade-in responsive" lt="example image">

    <p class="caption">Caption text: on the bottom an image. It's responsive: At smaller sizes it shrinks. It also fades into place.</p>
  </div>
</section>

<section>
  <div class="section-inner">
    <a class="button">Example button</a>
  </div>
</section>

<section>
  <div class="section-inner">
    <p>Paragraph text: Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>
  </div>
</section>

<section>
  <div class="section-inner">
    <h2>Markup</h2>
    <p>All content should be appropriately marked up. Everything should be inside <code>section-inner</code> class which is inside a <code>section</code> tag (which gives proper centering and padding, per layout.scss.)</p>
  </div>
</section>