---
layout: "default"
slug: "updates"
---

<section>
    <div class="section-inner">
        <h1>Updates</h1>
        <h4>Learn more about Credibility Coalition efforts from our blog posts on <a href="http://misinfocon.com">Misinfocon.com</a> and recent coverage in press and research reports.</h4>
    </div>
</section>


<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Updates from our community</h3>
    <ul class="timeline">
      <% data.timeline_press_releases.each do |item| %>
        <li>
          <%= partial "partials/timeline_entry", :locals => {
              :link => item[:link],
              :title => item[:title],
              :date => item[:date],
              :attribution => item[:attribution],
            } %>
        </li>
      <% end %>
    </ul>
  </div>
</section>


<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Mentions on the web</h3>
    <ul class="timeline">

      <% data.timeline_press_mentions.each do |item| %>
        <li>
          <%= partial "partials/timeline_entry", :locals => {
              :link => item[:link],
              :title => item[:title],
              :date => item[:date],
              :attribution => item[:attribution],
            } %>
        </li>
      <% end %>      
    </ul>
  </div>
</section>

