---
layout: "default"
slug: "data"
---

<div class="section-inner">
  <h1 class="layout--padding-top">Vocabularies</h1>
  <h2>What is Credibility?</h2>
  <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>
</div>

<div class="section-inner">
    <h4 class="layout--padding-top">Indicators</h4>

</div>


<div class="section-inner">
</div>
