---
layout: "default"
slug: "vocabularies"
---

<div class="section-inner">
  <h1 class="layout--padding-top">Vocabularies</h1>
      <h4 class="layout--padding-top"> Common, robust definitions of credibility and its indicators are required for effective solutions, whether automated processing or improved media literacy.</h4>
</div>
<div class="section-inner">

  <p>Simply rating a story as “credible” because it comes from trusted providers is no longer enough; we believe that it is crucial for the general public to understand what parts of a story are credible and why, as well as how to communicate that credibility effectively.</p>
  <h2 class="layout--padding-top">What is credibility?</h2>

  <h2 class="layout--padding-top">Concepts and Indicators</h2>
</div>
